.main {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 600px;
}

.imageRes {
    position: absolute;
    width: 100%;

}

.textName {
    position: absolute;
    font-size: 20;
    z-index: 5;
    font-size: 35px;

}

#save {
    left: -40px;
    transform: rotate(-50deg);
    top: 60px;
    /* right: 0; */
    color: rgb(138, 75, 227);

}

#cuople {
    transform: rotate(60deg);
    top: 60px;
    right: -20px;
    color: rgb(138, 75, 227);
}

#date {
    left: 25%;
    top: 85%;
}