@font-face {
    font-family: Mellisia;
    src: url(../../../Font/Mellisia.ttf);
}

@font-face {
    font-family: Lordranga;
    src: url(../../../Font/Lordranga.otf);
}

@font-face {
    font-family: SBL;
    src: url(../../../Font/SBL.ttf);
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.responsiveImg {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    height: auto;
}

.div {
    position: relative;
    width: 100%;
    max-width: 400px;
    height: 600px;
}

.frame {
    position: absolute;
}

.div2main {
    align-items: center;
    left: 50%;
    right: 50%;
    /* width: 100%;
    height: 600px; */
}

.divsave {
    position: absolute;
    /* transform: rotate(-30deg); */
    z-index: 1;
    /* top: 10%; */
    /* left: 30px; */
    display: flex;

    left: -40px;
    /* transform: rotate(-50deg); */
    top: 60px;
    /* right: 0; */
    color: rgb(138, 75, 227);
}



.title {
    /* font-family: Mellisia;
    font-size: 35px;*/
    color: #CC2936;
    font-family: Mellisia;
    font-size: 35px;
    right: -320px;
    top: -20px;
    position: absolute;
}

.COUPLE {
    border-radius: 50%;
    color: #8a4be3;
    display: flex;
    font-family: SBL;
    right: -340px;
    top: 355px;
    -webkit-transform: rotate(60deg);
    transform: rotate(0deg);

}



.textName {
    position: absolute;
    font-size: 20;
    z-index: 5;
    font-size: 35px;

}

.date {
    font-family: Lordranga;
    transform: rotate(-30deg);
    font-size: 30px;
    color: red;
    position: absolute;
    left: 45%;
    top: 90%;
}

.point {
    color: red;
    font-size: 10px;
    margin-top: 32px;

}