@font-face {
    font-family: Mellisia;
    src: url(../../../Font/Mellisia.ttf);
}

@font-face {
    font-family: Lordranga;
    src: url(../../../Font/Lordranga.otf);
}

@font-face {
    font-family: SBL;
    src: url(../../../Font/SBL.ttf);
}

.box {
    display: flex;
    align-items: center;
    justify-content: center;
}

.responsiveImg {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.div {
    position: relative;
}

.frame {
    position: absolute;
}

.divsave {
    position: absolute;
    transform: rotate(-30deg);
    z-index: 1;
    top: 20px;
    left: 5px;
    display: flex;
}

.cuple {
    align-items: center;
}

.title {
    font-family: Mellisia;
    font-size: 35px;
    color: #CC2936;
}

.COUPLE {
    font-family: Mellisia;
    font-size: 35px;
    transform: rotate(60deg);
    top: 60px;
    right: 0;
    position: absolute;
    display: flex;
    font-family: SBL;
    color: rgb(138, 75, 227);
    border-radius: 50%;

}

.date {
    font-family: Mellisia;
    font-size: 35px;
    transform: rotate(30deg);
    top: 100px;
    right: 30%;
    position: absolute;
    display: flex;
    font-family: SBL;
    color: rgb(138, 75, 227);
    border-radius: 50%;

}

.date {
    font-family: Lordranga;
    position: relative;
}

.point {
    color: red;
    font-size: 10px;
}