@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,400;1,500&display=swap');

.davetiye {
    background-image: url(https://i.hizliresim.com/isC2JF.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 500px;
    height: 685px;
    border: none;
    background-color: #F9F5F3;
}

.wedding {
    /* background-color: #EFC4BD; */
    font-family: 'Oxygen', sans-serif;
}

.title {
    font-family: 'Vidaloka', cursive;
    font-weight: normal;
    font-size: 5em;
    line-height: 1.2em;
    color: #b16908;
    margin-bottom: 50px;
}

.secondary {
    font-family: 'Pinyon Script', cursive;
    font-weight: normal;
    color: #cccdce;
    font-size: 1.5em;
}

.ust_text {
    margin-top: 41px;
    font-size: 14px;
    color: #2b2b2b;
}

.isimler {
    /* font-family: 'Dancing Script', cursive !important; */
    font-family: rubik !important;
    line-height: 42px;
    font-size: 78px;
    margin-top: 87px;
    color: #b16908;

}

.isimve {
    margin-right: -73px;
    font-size: 42px;
}

.kina {
    font-family: 'Dancing Script', cursive !important;
    transform: rotate(270deg);
    font-size: 25px;
    border-bottom: 1px solid #e0dcda;
    margin-top: 21px;
}

.gun {
    font-size: 51px;
    margin-right: 9px;
    margin-left: 9px;


}

.zaman {
    font-size: 11px;
    text-align: left;
    margin-top: 16px;
}